Node-Red Code/UniversalRobot_RTDE_Dashboard.json
[{"id":"fa3202b4.a504e","type":"tab","label":"Universal robot","disabled":false,"info":""},{"id":"bb8b656b.996f08","type":"debug","z":"fa3202b4.a504e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":560,"wires":[]},{"id":"6da21.25ac15dfc","type":"rtde-interface","z":"fa3202b4.a504e","name":"","x":430,"y":740,"wires":[["fbbafc09.23be6","a1edc3a9.87c69"]]},{"id":"8d1069b4.fc1178","type":"tcp in","z":"fa3202b4.a504e","name":"","server":"client","host":"192.168.154.128","port":"30001","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":200,"y":740,"wires":[["6da21.25ac15dfc"]]},{"id":"b3aa3300.8bba","type":"debug","z":"fa3202b4.a504e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":140,"wires":[]},{"id":"e69b365b.887548","type":"dashboard-server","z":"fa3202b4.a504e","name":"UR3 Dashboard Interface","host":"192.168.154.128","port":"29999","command":"PolyscopeVersion","argument":"","usemsgtopic":false,"x":410,"y":140,"wires":[["b3aa3300.8bba"]]},{"id":"b2898050.6225","type":"inject","z":"fa3202b4.a504e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","payload":"","payloadType":"str","x":150,"y":140,"wires":[["e69b365b.887548"]]},{"id":"47534aaf.5daf14","type":"comment","z":"fa3202b4.a504e","name":"Dashboard Server with msg.topic disabled","info":"","x":240,"y":80,"wires":[]},{"id":"d1108464.e21be8","type":"debug","z":"fa3202b4.a504e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":260,"wires":[]},{"id":"c12768c2.caca18","type":"dashboard-server","z":"fa3202b4.a504e","name":"UR 3 Dashboard Interface","host":"192.168.154.128","port":"29999","command":"PolyscopeVersion","argument":"","usemsgtopic":true,"x":410,"y":260,"wires":[["d1108464.e21be8"]]},{"id":"1435c408.f00b3c","type":"inject","z":"fa3202b4.a504e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","payload":"","payloadType":"str","x":150,"y":260,"wires":[["c12768c2.caca18"]]},{"id":"49f4773a.836e78","type":"comment","z":"fa3202b4.a504e","name":"Dashboard Server with msg.topic enabled","info":"","x":240,"y":200,"wires":[]},{"id":"b97ffaea.d889d8","type":"comment","z":"fa3202b4.a504e","name":"RTDE Interface with rate limit","info":"","x":200,"y":680,"wires":[]},{"id":"fbbafc09.23be6","type":"delay","z":"fa3202b4.a504e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":560,"wires":[["bb8b656b.996f08","b3b36e95.bbb3e","ad73ac7e.b5a72","a97cc292.97c7e","ea545a1c.2457b8","4c010e1f.076d6","3b25893b.a5f676","23c49aaa.9c8786"]]},{"id":"1609640c.01c17c","type":"inject","z":"fa3202b4.a504e","name":"play:","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"play","payload":"","payloadType":"str","x":150,"y":320,"wires":[["c12768c2.caca18"]]},{"id":"e1cd0500.a3bfc8","type":"comment","z":"fa3202b4.a504e","name":"Documentation for UR RTDE","info":"https://s3-eu-west-1.amazonaws.com/ur-support-site/15690/Dashboard_Server_CB-Series.pdf\n\nhttps://github.com/hermajul/node-red-contrib-ur-robot","x":600,"y":40,"wires":[]},{"id":"b8210025.4db09","type":"comment","z":"fa3202b4.a504e","name":"IP for Robot or URSIM","info":"","x":840,"y":40,"wires":[]},{"id":"ebea6b74.a4fa48","type":"inject","z":"fa3202b4.a504e","name":"Running:","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"running","payload":"","payloadType":"str","x":160,"y":380,"wires":[["c12768c2.caca18"]]},{"id":"d8eafd2a.cc3b7","type":"inject","z":"fa3202b4.a504e","name":"Pause:","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pause","payload":"","payloadType":"str","x":150,"y":440,"wires":[["c12768c2.caca18"]]},{"id":"8bc70c12.7d252","type":"inject","z":"fa3202b4.a504e","name":"Pop up:","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"popup I am in control!!","payload":"","payloadType":"str","x":150,"y":500,"wires":[["c12768c2.caca18"]]},{"id":"8a5a6e1b.37465","type":"inject","z":"fa3202b4.a504e","name":"Robot mode:","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"robotmode","payload":"","payloadType":"str","x":170,"y":560,"wires":[["c12768c2.caca18"]]},{"id":"b3b36e95.bbb3e","type":"debug","z":"fa3202b4.a504e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.robotModeData","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":600,"wires":[]},{"id":"ad73ac7e.b5a72","type":"debug","z":"fa3202b4.a504e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.jointData","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":640,"wires":[]},{"id":"a97cc292.97c7e","type":"debug","z":"fa3202b4.a504e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.cartesianInfo","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":680,"wires":[]},{"id":"ea545a1c.2457b8","type":"debug","z":"fa3202b4.a504e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.masterboardData","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":720,"wires":[]},{"id":"4c010e1f.076d6","type":"debug","z":"fa3202b4.a504e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.toolData","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":760,"wires":[]},{"id":"3b25893b.a5f676","type":"debug","z":"fa3202b4.a504e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.forceModeFrame","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":800,"wires":[]},{"id":"23c49aaa.9c8786","type":"debug","z":"fa3202b4.a504e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.additionalInfo","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":840,"wires":[]},{"id":"a1edc3a9.87c69","type":"function","z":"fa3202b4.a504e","name":"Joint DigIn DigOut","func":"var joint0 = { payload: msg.payload.jointData[0].positionActualDegree };\nvar joint1 = { payload: msg.payload.jointData[1].positionActualDegree };\nvar joint2 = { payload: msg.payload.jointData[2].positionActualDegree };\nvar joint3 = { payload: msg.payload.jointData[3].positionActualDegree };\nvar joint4 = { payload: msg.payload.jointData[4].positionActualDegree };\nvar joint5 = { payload: msg.payload.jointData[5].positionActualDegree };\n\nvar DigInput = {payload: msg.payload.masterboardData.digitalInputBits};\nvar DigOutput = {payload: msg.payload.masterboardData.digitalOutputBits};\n\nreturn [joint0, joint1, joint2, joint3, joint4, joint5, DigInput, DigOutput];\n\n","outputs":8,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":1160,"wires":[["b85fa087.ba394","f458697d100ec718"],["593ad55.74a4d2c","237d703d15bbc0e4"],["b94a4c0c.2b706","2c9c506a83d975b1"],["6d61b613.0d0fc8"],["171e363.0c893ca","90056464b36b7330","53637a0b0fc1275c"],["4d6a0443.a7646c","3d6f6e582bd90a35"],["f0bdccd9.b72a6"],["bc940f64.6b105"]]},{"id":"b85fa087.ba394","type":"ui_chart","z":"fa3202b4.a504e","d":true,"name":"Joint 0","group":"7121e1ca.7bd0c","order":1,"width":"5","height":"4","label":"Joint 0 - Base","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":940,"wires":[[]]},{"id":"593ad55.74a4d2c","type":"ui_chart","z":"fa3202b4.a504e","d":true,"name":"Joint 1","group":"7121e1ca.7bd0c","order":5,"width":"5","height":"4","label":"Joint 1 - Shoulder","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":980,"wires":[[]]},{"id":"b94a4c0c.2b706","type":"ui_chart","z":"fa3202b4.a504e","d":true,"name":"Joint 2","group":"7121e1ca.7bd0c","order":9,"width":"5","height":"4","label":"Joint 2 - Elbow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1020,"wires":[[]]},{"id":"6d61b613.0d0fc8","type":"ui_chart","z":"fa3202b4.a504e","d":true,"name":"Joint 3","group":"73ed1b3b.15d244","order":1,"width":"5","height":"4","label":"Joint 3 - Wrist 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1060,"wires":[[]]},{"id":"171e363.0c893ca","type":"ui_chart","z":"fa3202b4.a504e","d":true,"name":"Joint 4","group":"73ed1b3b.15d244","order":5,"width":"5","height":"4","label":"Joint 4 - Wrist 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1100,"wires":[[]]},{"id":"4d6a0443.a7646c","type":"ui_chart","z":"fa3202b4.a504e","d":true,"name":"Joint 5","group":"73ed1b3b.15d244","order":9,"width":"5","height":"4","label":"Joint 5 - Wrist 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":1140,"wires":[[]]},{"id":"bc940f64.6b105","type":"bitunloader","z":"fa3202b4.a504e","name":"","mode":"arrayBools","prop":"payload","padding":"8","x":470,"y":1300,"wires":[["b49caee1.6a7fe"]]},{"id":"3f8a691c.7aabf6","type":"ui_led","z":"fa3202b4.a504e","order":1,"group":"f430b09c.91133","width":0,"height":0,"label":"Digital Output 0","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":1240,"wires":[]},{"id":"1605cb93.6c86d4","type":"ui_led","z":"fa3202b4.a504e","order":2,"group":"f430b09c.91133","width":0,"height":0,"label":"Digital Output 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":1280,"wires":[]},{"id":"a9e7d796.1f4e98","type":"ui_led","z":"fa3202b4.a504e","order":3,"group":"f430b09c.91133","width":0,"height":0,"label":"Digital Output 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":1320,"wires":[]},{"id":"1e46d344.2ada5d","type":"ui_led","z":"fa3202b4.a504e","order":4,"group":"f430b09c.91133","width":0,"height":0,"label":"Digital Output 3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":1360,"wires":[]},{"id":"b49caee1.6a7fe","type":"function","z":"fa3202b4.a504e","name":"Split array[8] to single output","func":"var bit0 = {payload: msg.payload[0] }\nvar bit1 = {payload: msg.payload[1] }\nvar bit2 = {payload: msg.payload[2] }\nvar bit3 = {payload: msg.payload[3] }\nvar bit4 = {payload: msg.payload[4] }\nvar bit5 = {payload: msg.payload[5] }\nvar bit6 = {payload: msg.payload[6] }\nvar bit7 = {payload: msg.payload[7] }\n\nreturn [bit0, bit1, bit2, bit3, bit4, bit5, bit6, bit7];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":680,"y":1300,"wires":[["3f8a691c.7aabf6"],["1605cb93.6c86d4"],["a9e7d796.1f4e98"],["1e46d344.2ada5d"],["3fea578e.e582f8"],["9bba9553.c8d2d8"],["ee334694.d97938"],["e5429f21.b1a99"]]},{"id":"3fea578e.e582f8","type":"ui_led","z":"fa3202b4.a504e","order":5,"group":"f430b09c.91133","width":0,"height":0,"label":"Digital Output 4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1050,"y":1240,"wires":[]},{"id":"9bba9553.c8d2d8","type":"ui_led","z":"fa3202b4.a504e","order":6,"group":"f430b09c.91133","width":0,"height":0,"label":"Digital Output 5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1050,"y":1280,"wires":[]},{"id":"ee334694.d97938","type":"ui_led","z":"fa3202b4.a504e","order":7,"group":"f430b09c.91133","width":0,"height":0,"label":"Digital Output 6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1050,"y":1320,"wires":[]},{"id":"e5429f21.b1a99","type":"ui_led","z":"fa3202b4.a504e","order":8,"group":"f430b09c.91133","width":0,"height":0,"label":"Digital Output 7","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1050,"y":1360,"wires":[]},{"id":"737447a9.5cef38","type":"comment","z":"fa3202b4.a504e","name":"Displaying all Joint levels (positionActualDegree)","info":"","x":840,"y":900,"wires":[]},{"id":"88ed651.4049798","type":"comment","z":"fa3202b4.a504e","name":"Displaying all Digital Output","info":"","x":520,"y":1220,"wires":[]},{"id":"79e39cf.a0af564","type":"change","z":"fa3202b4.a504e","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":400,"wires":[["c12768c2.caca18"]]},{"id":"afb938a4.c87fe8","type":"ui_button","z":"fa3202b4.a504e","name":"","group":"82777888.213b38","order":1,"width":0,"height":0,"passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"","payload":"pause","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":440,"wires":[["79e39cf.a0af564"]]},{"id":"32c033a4.ad6e6c","type":"ui_button","z":"fa3202b4.a504e","name":"","group":"82777888.213b38","order":2,"width":0,"height":0,"passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"","payload":"play","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":400,"wires":[["79e39cf.a0af564"]]},{"id":"a9d3e646.e132b8","type":"ui_button","z":"fa3202b4.a504e","name":"","group":"82777888.213b38","order":3,"width":0,"height":0,"passthru":false,"label":"Pop up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"popup I am in control!!","payloadType":"str","topic":"topic","topicType":"msg","x":380,"y":520,"wires":[["79e39cf.a0af564"]]},{"id":"98a211af.0fa98","type":"ui_button","z":"fa3202b4.a504e","name":"","group":"82777888.213b38","order":4,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":480,"wires":[["79e39cf.a0af564"]]},{"id":"f0bdccd9.b72a6","type":"bitunloader","z":"fa3202b4.a504e","name":"","mode":"arrayBools","prop":"payload","padding":"8","x":470,"y":1500,"wires":[["a550528e.c2b8b"]]},{"id":"d219a7f5.63e9c8","type":"ui_led","z":"fa3202b4.a504e","order":1,"group":"eb013a61.ac28b8","width":0,"height":0,"label":"Digital Input 0","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":1440,"wires":[]},{"id":"ef04e99b.5222b8","type":"ui_led","z":"fa3202b4.a504e","order":2,"group":"eb013a61.ac28b8","width":0,"height":0,"label":"Digital Input 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":1480,"wires":[]},{"id":"9ccb2944.102808","type":"ui_led","z":"fa3202b4.a504e","order":3,"group":"eb013a61.ac28b8","width":0,"height":0,"label":"Digital Input  2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":1520,"wires":[]},{"id":"5043962c.3d23a8","type":"ui_led","z":"fa3202b4.a504e","order":4,"group":"eb013a61.ac28b8","width":0,"height":0,"label":"Digital Input  3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":1560,"wires":[]},{"id":"a550528e.c2b8b","type":"function","z":"fa3202b4.a504e","name":"Split array[8] to single Input ","func":"var bit0 = {payload: msg.payload[0] }\nvar bit1 = {payload: msg.payload[1] }\nvar bit2 = {payload: msg.payload[2] }\nvar bit3 = {payload: msg.payload[3] }\nvar bit4 = {payload: msg.payload[4] }\nvar bit5 = {payload: msg.payload[5] }\nvar bit6 = {payload: msg.payload[6] }\nvar bit7 = {payload: msg.payload[7] }\n\nreturn [bit0, bit1, bit2, bit3, bit4, bit5, bit6, bit7];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":680,"y":1500,"wires":[["d219a7f5.63e9c8"],["ef04e99b.5222b8"],["9ccb2944.102808"],["5043962c.3d23a8"],["e218c22e.34df9"],["3a021cfb.5b5d64"],["61f1d774.74d968"],["306e0cd8.0b6764"]]},{"id":"e218c22e.34df9","type":"ui_led","z":"fa3202b4.a504e","order":5,"group":"eb013a61.ac28b8","width":0,"height":0,"label":"Digital Input  4","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1050,"y":1440,"wires":[]},{"id":"3a021cfb.5b5d64","type":"ui_led","z":"fa3202b4.a504e","order":6,"group":"eb013a61.ac28b8","width":0,"height":0,"label":"Digital Input 5","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1050,"y":1480,"wires":[]},{"id":"61f1d774.74d968","type":"ui_led","z":"fa3202b4.a504e","order":7,"group":"eb013a61.ac28b8","width":0,"height":0,"label":"Digital Input 6","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1050,"y":1520,"wires":[]},{"id":"306e0cd8.0b6764","type":"ui_led","z":"fa3202b4.a504e","order":8,"group":"eb013a61.ac28b8","width":0,"height":0,"label":"Digital Input 7","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1050,"y":1560,"wires":[]},{"id":"4333e426.14fa9c","type":"comment","z":"fa3202b4.a504e","name":"Displaying all Digital Input ","info":"","x":510,"y":1420,"wires":[]},{"id":"f458697d100ec718","type":"ui_artlessgauge","z":"fa3202b4.a504e","group":"7121e1ca.7bd0c","order":7,"width":3,"height":3,"name":"Joint 0 - Base","icon":"","label":"Joint 0 - Base","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":900,"y":940,"wires":[]},{"id":"237d703d15bbc0e4","type":"ui_artlessgauge","z":"fa3202b4.a504e","group":"7121e1ca.7bd0c","order":8,"width":3,"height":3,"name":"Joint 1 - Shoulder","icon":"","label":"Joint 1 - Shoulder","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":910,"y":980,"wires":[]},{"id":"2c9c506a83d975b1","type":"ui_artlessgauge","z":"fa3202b4.a504e","group":"7121e1ca.7bd0c","order":9,"width":3,"height":3,"name":"Joint 2 - Elbow","icon":"","label":"Joint 2 - Elbow","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"°","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":900,"y":1020,"wires":[]},{"id":"90056464b36b7330","type":"ui_artlessgauge","z":"fa3202b4.a504e","group":"73ed1b3b.15d244","order":10,"width":3,"height":3,"name":"Joint 3 - Wrist 1","icon":"","label":"Joint 3 - Wrist 1","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":900,"y":1060,"wires":[]},{"id":"53637a0b0fc1275c","type":"ui_artlessgauge","z":"fa3202b4.a504e","group":"73ed1b3b.15d244","order":11,"width":3,"height":3,"name":"Joint 4 - Wrist 2","icon":"","label":"Joint 4 - Wrist 2","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":900,"y":1100,"wires":[]},{"id":"3d6f6e582bd90a35","type":"ui_artlessgauge","z":"fa3202b4.a504e","group":"73ed1b3b.15d244","order":12,"width":3,"height":3,"name":"Joint 6 - Wrist 3","icon":"","label":"Joint 6 - Wrist 3","unit":"°","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":360,"col":"#ff9900","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":900,"y":1140,"wires":[]},{"id":"7121e1ca.7bd0c","type":"ui_group","name":"Joints 0 - 2","tab":"14638606.f818ea","order":2,"disp":true,"width":5,"collapse":false},{"id":"73ed1b3b.15d244","type":"ui_group","name":"Joints 3 - 5","tab":"14638606.f818ea","order":3,"disp":true,"width":5,"collapse":false},{"id":"f430b09c.91133","type":"ui_group","name":"Output","tab":"14638606.f818ea","order":4,"disp":true,"width":"4","collapse":false},{"id":"82777888.213b38","type":"ui_group","name":"Controls","tab":"14638606.f818ea","order":1,"disp":true,"width":"3","collapse":false},{"id":"eb013a61.ac28b8","type":"ui_group","name":"Input","tab":"14638606.f818ea","order":5,"disp":true,"width":4,"collapse":false},{"id":"14638606.f818ea","type":"ui_tab","name":"UR Data dashboard (RTDE)","icon":"dashboard","order":2,"disabled":false,"hidden":false}]